.navbar-brand {
    font-family: 'Gluten', cursive;
}
.logo {
    color: white;
    font-size: 120%;
    
}
.alinear {
    display: flex;
    align-items: center;
}
body{
    background:linear-gradient(180deg, #202978 0%, #57CC99 100%); 
    min-block-size: 100vh; 
}
.color {
    background-color: #22577a82;
}

.opciones {
    display: flex;
    justify-content: space-around;
}

.opcion1 {
    margin-right: 20px;
    color:white;
}