body{
    color: white;
}

.first__row{
    border-top: 1px solid white;
}

.form__contacto input, .form__contacto textarea {
    background: rgba(0, 239, 254, 0.25);
    color:white;
    border:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.form__contacto textarea{
    border-radius: 0 0 50% 50%;
    padding-top: 3rem;
}

.form__contacto input:focus, .form__contacto textarea:focus {
    background: rgba(0, 239, 254, 0.25);
    color:white;
}

.form__contacto input::placeholder, .form__contacto textarea::placeholder{
    color:white;
}

.form__contacto button{
    color:black;
    background: #00FF19;
justify-self: center;
}

.contacto__direccion{
    display:flex;
    align-items:center;
    justify-content: center;
    border-left: 1px solid white;
}

.contacto__direccion p{
    max-width: 60%;
    font-size: 20px;
}