body{
    background:linear-gradient(180deg, #202978 0%, #57CC99 100%); 
    min-block-size: 100vh; 
    padding-top:100px;    
    font-family: 'Philosopher', sans-serif;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥚</text></svg>"), auto;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: #202978;
}
body::-webkit-scrollbar-thumb {
    background-color: #57CC99;
    border-radius: 5px;
}

.navbar-brand {
    font-family: 'Gluten', cursive;
    
}


.navbar {
    position: fixed;
    width: 100%;
    background-color: #202978;
    top: 0;
    z-index: 5;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐣</text></svg>"), auto;
}

.logo {
    color: white;
    font-size: 120%; 
}
.alinear {
    display: flex;
    align-items: center;
}

.navbar .opciones {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    color: white;
}

.navbar .navbar-toggler .bx{
    color: white;
    font-size: 40px;
}

.navbar .nav-item i{
    font-size: 25px;
}

.navbar .nav-item a:hover{
    color: rgba(255, 255, 255, 0.65)!important;
    text-shadow:1px 1px blue;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥚</text></svg>"), auto;

}

.opcion1 {
    margin-right: 20px;
    color: white;
}
