body {
    background-position: center;
    background-size: cover;
    color: white;    
    font-family: 'Philosopher', sans-serif;
}

.navbar {
    background-color: transparent;
}

.w-100 {
    height: 559px;
}
h5 {
    text-align: center;
    justify-content: center;
} 
p {
    text-align: center;
    justify-content: center;
}
.d-block{
    object-fit: contain;
}

/*contenedor social*/
.social-media{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
     
}

/* Haciendo los indicadores hacia abajo */
.carousel{
    padding-bottom: 48px;
}

/* iconos social*/ 
 .icono-social{
    display: inline-block;
    margin-left: 3%;
    width: 52px;
    height: 52px;
    border-radius: 1px solid rgb(139, 37, 139);
    border-radius: 50%;
    text-align: center;
    color:rgb(238, 245, 248);
          
}

/*color de fondo*/
.icono-social:hover{
    background: #f1eff1;
    color: rgb(50, 164, 240);

}

/*icono tamaño*/
.icono-social  .bx{
    font-size: 26px;
    line-height: 60px;
}


@media (max-width: 991px) {
    
    .navbar {
        background-color: #8486864a;
    }

}

@media (max-width: 768px) {
    .informacion{
        padding: 0 100px; 
    }
    
}

@media (max-width: 576px) {

    .informacion{
        padding: 0 50px;
    }
    
}
