
body{
    background:linear-gradient(180deg, #202978 0%, #57CC99 100%); 
    min-block-size: 100vh; 
    color: white;
}

.w-100 {
    height: 559px;
}
h5 {
    text-align: center;
    justify-content: center;
} 
p {
    text-align: center;
    justify-content: center;
}
.d-block{
object-fit: contain;
}
.col-4 .bx{
    display: flex;
    justify-content: center;
    border: 1px solid rgba(46, 116, 148, 0.808);
    border: radius 50%;
    font-size: 20px;
    cursor: pointer;
}
.bx:hover{
   
    color: rgb(116, 224, 219);
    border:1px solid blueviolet;
    
}

