body{    
    background: linear-gradient(180deg, #00000000, #1e3d496b), url('../img/fondoLogeo.jpg');
    min-block-size: 100vh;
    padding-top: 100px;
    background-position: center;
    background-size: cover;
  }

  .navbar {
    background-color: transparent;
}

.container{
    width: auto;
    max-width: 400px;
    overflow: hidden;
    margin:auto;
    padding: 60px 0;
}

#formulario{
    backdrop-filter: blur(6px);
}

#formulario a{
    color: black;
}

.bxs-user{
    font-size: 70px;
}
.card {
    background-color: #a1b6f159;
    border-radius: 20px;
}
.letras {
    display: flex;
    justify-content: space-around;
}
.form-control {
    border-radius: 20px;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}
@media (max-width: 991px) {
    
        .navbar {
            background-color: #20785a4a;
        }
    
}