body{    
    min-block-size: 100vh;
    padding-top: 100px;
    background-position: center;
    background-size: cover;
    font-family: 'Philosopher', sans-serif;
    color: white;
  }


.container{
    width: auto;
    max-width: 400px;
    overflow: hidden;
    margin:auto;
    padding: 60px 0;
}

#formulario{
    backdrop-filter: blur(6px);
}

#formulario a{
    color: black;
}

.bxs-user{
    font-size: 70px;
}
.card {
    background-color: #a1b6f159;
    border-radius: 20px;
}
.letras {
    display: flex;
    justify-content: space-around;
}
.form-control {
    border-radius: 20px;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}

/* Modal para recuperar contraseña // Password recovery */

.passwordRecovery__container{
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color:rgba(0, 0, 0, 0.246);
    backdrop-filter: blur(5px);
    display:grid;
    align-content: center;
    justify-content: center;
    transition: opacity .4s;    
}
/* Abrir el modal cuando es seleccionado */
.passwordRecovery__container:target {
    visibility: visible;
    opacity: 1;
  }

  /* Dandole estilo a el boton de cerrar modal */
.passwordRecovery__container a{
    color:#005aa1;
    grid-area: a;
    align-self: center;
    justify-self: center;
    font-size: 32px;
    cursor: pointer;
}

.passwordRecovery__container a:hover{
    color:#1070bc;
}

/* Dandole estilo al formulario */
.passwordRecovery__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #005aa1;
    color: white;
    font-weight: bold;
    padding:46px;
    gap:8px;
    grid-area: f;
}

.passwordRecovery__form input {
    padding: 8px;
    border: none;
    border-bottom: 1px solid white;
    outline: 0;
    align-self: normal;
}

.passwordRecovery__form button {
    background-color:white;
    border-radius: 11px;
    border: none;
    padding:6px 31px;
    font-weight: bold;
 }

.passwordRecovery__form button:hover {
   transform: scale(1.1); 
}

/* Media query para cambiar el color de la barra de navegacion */
@media (max-width: 991px) {
    
        .navbar {
            background-color: #20785a4a;
        }
    
}