/* .container{
    margin-top: 100px;
} */
/* img fondo */

body{
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: transparent;
}

/*Parte de la izquierda*/
.titulo-y-huevo{
    display: flex;
    align-items: center;
}
.titulo-y-huevo h2{
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Gluten', cursive;
    color: white;

}
.titulo-y-huevo img{
    width: 20%;
    margin-left: auto;
}

.text-design h3, h4{
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #00FFF0;
}

.linea{
    border-top: 2px solid white;
}
.linea2{
    border-right: 2px solid white;
}
/*Formulario*/

.img-arow{
    animation: movimiento 1s infinite linear;
}

.form__register{
    background: rgba(87, 204, 153, 0.41);
box-shadow: 0px 4px 4px rgba(34, 242, 255, 0.5);
border-radius: 4rem;
padding: 2rem;
display: grid;
}

.formulario a{
    justify-self: center;
}

.form__register--btn{
    color:black;
    background: #00FF19;
border-radius: 126px;
justify-self: center;
}

.form__register input{
    border-radius: 1rem;
}
.btn--login{
    margin: 1rem auto;
    display: flex;
}
.formulario{
    font-size: 20px;
    display: grid;
    gap:2rem;
}

.button--janus span {
    color: beige;
}

@media (max-width: 991px) {

    .titulo-y-huevo img{
        width: 8rem;
    }

    .navbar {
        background-color: #20785a4a;
        justify-content: flex-end;
    }

}

@media (max-width: 767px) {
    body{
        margin-top: 50px;
    }

    

    .titulo-y-huevo img{
        width: 5rem;
    }

    .linea{
        border: none;
    }

    .linea2{
        border: none;
        margin-bottom: 1rem;
    }

 
    .linea2 div:not(:nth-child(1)){
        display: none;
    }

    .linea2 div:nth-child(4){
        display: flex;
        margin-top: 0!important;
    }



}

@keyframes movimiento{
    0%{ 
        transform: translateX(0);

    }
    50%{
        transform: translateX(0.5rem);
    }
    100%{
        transform: translateX(0);
    }
}

.recuadro_correo-correcto{
    color: #00FF19;
}

.recuadro_correo-incorrecto{
    color: red;
    /*minuto 25*/
}

.recuadro_password-correcto{
    color: #00FF19;
}

.recuadro_password-incorrecto{
    color: red;
    /*minuto 25*/
}

.formulario_input_error{
    display: none;
}

.formulario_input_error_activo{
    display: block;
}