h2{
    font-size: 34px;
<<<<<<< HEAD
    font-family: 'sans-serif';
}

.card h5{
  font-size: 25px;
  font-family: 'sans-serif';
  color: black;

}

.card p {
  font-size: 18px;
  font-family: 'sans-serif';
  color: black;
}



=======
}
p , h2, h5 ,.lista-info{
  font-family: 'Philosopher', sans-serif;
}/*
>>>>>>> 1130957324fc75f046e8e4cfe71b156272a267aa
.lista-info{
    font-size: 30px;
    font-size: 18px;
    font-family: 'sans-serif';
    text-align: left;
}

/* Fondo de pagina */
body{
  background-image: linear-gradient(rgb(0 0 0 / 48%), rgb(0 0 0 / 38%)), url(https://c.tenor.com/u0QmOtJMpC4AAAAC/colors-flashing.gif);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.navbar{
  background-color: rgb(91 144 195 / 29%);
}


/*EDICION*/

/*Solo de referencia*/
.columna1{
  border: 5px solid white;
}
/*Solo de referencias*/

.circular{
  border-radius: 50%;
  width: 100%;
}
body{
  color: black;
}
.botones{
  display: flex;
  justify-content: center;
}
.botones img{
  width: 100%;
}
.tres-columnas{
  width: 90%;
  margin: 0 auto;
}
.columna1{
  text-align: center;
  color: white;
<<<<<<< HEAD
=======
  width: 100%;
  font-size: 19px;
  box-sizing:border-box;
}

/*
@media screen and (min-width: 800px) {
  .columna1{
  width: 100%;
  float: left;
  }
  .feed-publicaciones{
    width: 100%;
    float: left;
  }
  */
  
}
@media screen and (min-width: 800px) {
  .dos-columnas{
  width: 100%;
  }
}
@media (min-width: 991px) {
  .navbar {
      background-color: #20785a4a;
  }
>>>>>>> 1130957324fc75f046e8e4cfe71b156272a267aa
}