h2{
    font-size: 34px;
}
.lista-info{
    font-size: 30px;
}

/* Fondo de pagina */
body{
  background-image: linear-gradient(rgb(0 0 0 / 48%), rgb(0 0 0 / 38%)), url(../img/fondoPerfil.jpg);
background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.navbar{
  background-color: rgb(91 144 195 / 29%);
}


/*EDICION*/

/*Solo de referencia*/
.columna1{
  border: 5px solid white;
}
/*Solo de referencias*/

.circular{
  border-radius: 50%;
  width: 100%;
}
body{
  color: black;
}
.botones{
  display: flex;
  justify-content: center;
}
.botones img{
  width: 100%;
}

.carrousell{
  margin-top: 90%;
}

/*Css del carrousel*/
*, *::before, *::after {
  box-sizing: border-box;
}

.wrapper {
  background: linear-gradient(60deg, #420285, #08BDBD);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  /* position: fixed; */
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  -webkit-animation: carousel-animate-vertical 27s linear infinite;
          animation: carousel-animate-vertical 27s linear infinite;
}

.carousel__item:nth-child(1) {
-webkit-animation-delay: calc(3s * -1);
        animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
-webkit-animation-delay: calc(3s * 0);
        animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
-webkit-animation-delay: calc(3s * 1);
        animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
-webkit-animation-delay: calc(3s * 2);
        animation-delay: calc(3s * 2);
}

.carousel__item:nth-child(5) {
-webkit-animation-delay: calc(3s * 3);
        animation-delay: calc(3s * 3);
}

.carousel__item:nth-child(6) {
-webkit-animation-delay: calc(3s * 4);
        animation-delay: calc(3s * 4);
}

.carousel__item:nth-child(7) {
-webkit-animation-delay: calc(3s * 5);
        animation-delay: calc(3s * 5);
}

.carousel__item:nth-child(8) {
-webkit-animation-delay: calc(3s * 6);
        animation-delay: calc(3s * 6);
}



    
@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 11.1111111111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%, 22.2222222222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%, 33.3333333333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}
/*Fin del carrousel*/
.carousel__item-head img{
  width: 100%;
}
.bloque-de-imagenes{
  text-align: center;
  color: white;
  position: fixed;
  background: rgba(247, 255, 254, 0.15);
  max-width: 100%;
  min-height: 88%;

}

.carousel__item img{
  width: 100%;
  margin: 0 auto;
}
.columna1{
  text-align: center;
  color: white;
}
.tres-columnas{
  width: 90%;
  margin: 0 auto;
}

.recomendaciones{
  margin: 0 auto;
  min-width: 23%;
}
.bloque-de-imagenes div h4{

font-size: 550%;
}