body{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥚</text></svg>"), auto;
  }
  p , h2, h5 ,.lista-info{
    font-family: 'Philosopher', sans-serif;
  }
 
 
.bloque {
    margin-top: 1rem;  
}
 
/*color al fondo de la pantalla cuando se abra la ventana emergente*/
.overlay{
    background: rgba(153, 224, 250, 0.466);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}
/*para ser visible la ventana emergente*/
.overlay.active{
   visibility: visible;
  
}
/*style a la ventna emergente y elementos que lo contiene*/
.pop-up{
    background: rgba(248, 249, 252, 0.801);
    box-shadow: 0px 0px 10px 0px rgba(250, 249, 252, 0.959);
    border-radius:5px;
    padding: 8px 18px;
    text-align: center;
    width: 300px;
    opacity:0 ;
    transition: .1s ease all;
    transform: scale(0.7);
}
.pop-up .boton-cerrar-pop-up{
    font-size: 18px;
    line-height: 16px;
    display:block;
    text-align: right;
    color: rgb(27, 81, 117);
    transition: 3s ease all;

}
.pop-up .boton-cerrar-pop-up:hover{
    color: #0ea4e0;;
    
}
.text-public{
 font-size: 25px; 
 margin-bottom: 10px;  
 color: #1348CF;
 opacity: 0;
}
.pop-up form .contenedor-texto textarea{
width: 100%;
margin-bottom: 5px;
height: 130px;
text-align: left;
border-radius: 3px;
border: transparent;
outline: none;
opacity: 0;
}

.pop-up form .submit {
    padding: 0 10px;
    height: 40px;
    border: none;
    color: rgb(237, 236, 243);
    background-color: rgba(22, 185, 22, 0.87);
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s  ease all;
    opacity: 0;
}
.pop-up form .submit:hover{
    background: #3d84f5;
}
/*animaciones del pop-up*/
.pop-up.active{
  opacity: 1;
  transform: scale(1);
  
}
.pop-up.active  .text-public {
  animation: entrada .8s ease .3s forwards;
  
}
.pop-up.active .contenedor-texto textarea{
  animation: txt 1s ease 1s forwards;
}

.pop-up.active .submit{
  animation: submit 1s ease 1s forwards;
}
@keyframes entrada{
  from{
    transform: translateY(-20px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes txt {
  
  from{
    opacity: 0;
}
to{
  opacity: 1;
}
}
@keyframes submit {
  
  from{
    opacity: 0;
}
to{
  opacity: 1;
}
}
/*-----boton popup----*/
.pop-btn{
    padding: 0 10px;
    height: 40px;
    border: none;
    color: rgb(237, 236, 243);
    background-color: rgba(25, 156, 218, 0.87);
    font-size: 15px;
    border: radius 3px;
    cursor: pointer;
}

  /*----boton publicar---*/

  .btnpublicar{
    position: fixed;
    right: 5px;
    line-height: 45px;
    bottom:30px;

  }
  .msm {
    
    display: inline-block;
    margin-left: 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration:none;
    color:#1348CF;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 10px 0px rgba(245, 247, 252, 0.959);
         
}
.msm:hover{
  color: #3d84f5;
  background: rgba(243, 239, 9, 0.911);
  
 }
 .btnpublicar .msm:hover::before{
   margin-top: -44px;
 }
/*-------------------*/
.img-container img{
    margin: 10px auto;
    width: auto;
}
.carrousell{
    margin-top: 90%;
  }
  
  /*Css del carrousel*/
  *, *::before, *::after {
    box-sizing: border-box;
  }
  

  .carousel {
    /* position: fixed; */
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    -webkit-animation: carousel-animate-vertical 27s linear infinite;
            animation: carousel-animate-vertical 27s linear infinite;
  }
  
  .carousel__item:nth-child(1) {
  -webkit-animation-delay: calc(3s * -1);
          animation-delay: calc(3s * -1);
  }
  
  .carousel__item:nth-child(2) {
  -webkit-animation-delay: calc(3s * 0);
          animation-delay: calc(3s * 0);
  }
  
  .carousel__item:nth-child(3) {
  -webkit-animation-delay: calc(3s * 1);
          animation-delay: calc(3s * 1);
  }
  
  .carousel__item:nth-child(4) {
  -webkit-animation-delay: calc(3s * 2);
          animation-delay: calc(3s * 2);
  }
  
  .carousel__item:nth-child(5) {
  -webkit-animation-delay: calc(3s * 3);
          animation-delay: calc(3s * 3);
  }
  
  /* .carousel__item:nth-child(6) {
  -webkit-animation-delay: calc(3s * 4);
          animation-delay: calc(3s * 4);
  }
  
  .carousel__item:nth-child(7) {
  -webkit-animation-delay: calc(3s * 5);
          animation-delay: calc(3s * 5);
  }
  
  .carousel__item:nth-child(8) {
  -webkit-animation-delay: calc(3s * 6);
          animation-delay: calc(3s * 6);
  }
  
  .carousel__item:nth-child(9) {
    -webkit-animation-delay: calc(3s * 7);
            animation-delay: calc(3s * 7);
    } */
  
  
      
  @keyframes carousel-animate-vertical {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
    3%, 11.1111111111% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    14.1111111111%, 22.2222222222% {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    25.2222222222%, 33.3333333333% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    36.3333333333% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }
  /*Fin del carrousel*/
  .carousel__item-head img{
    width: 100%;
  }
  .bloque-de-imagenes{
    text-align: center;
    color: white;
    position: fixed;
    background: rgba(247, 255, 254, 0.15);
    max-width: 100%;
    min-height: 88%;
  
  }
  
  .carousel__item img{
    width: 100%;
    margin: 0 auto;
  }

  
  .recomendaciones{
    margin: 0 auto;
    min-width: 23%;
  }
  .bloque-de-imagenes div h4{
  
  font-size: 550%;
  }
.container1{
  width: 90%;
  margin: 0 auto;
}

  /*publicar
  .btnpublicar{
    position: absolute;
    top: 35px;
    left: 250px;
    transform: translate(-50%,-50%);
  }
  .btnpublicar .msm .bx{
    width: 50px;
    height: 35px;
    display: inline-block;
    background:white;
    color: rgb(8, 84, 248);
    text-align: right;
    text-decoration:none;
    font-size: 25px;
    /*padding: 3px 10px;
    border: rgb(60, 139, 243) 3px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(250, 249, 252, 0.959);
   /* overflow:hidden; 
  }
  /*
  .btnpublicar  .msm:hover::before{
    display: block;
    margin: 13px 0;
  }
  .btnpublicar .msm:hover::before{
    margin-top: -44px;
  }*/
  
  
  @media (max-width: 991px) {
      
    .btnpublicar .msm:hover  {
        color: #1348CF;
        
    }
  
  
  }
  @media (max-width: 768px) {
      .btnpublicar{
          padding: 0 5px; 
        
      }
    
      .pop-up{
        padding: 1 40px; 
      }
  }  
  
  
  @media (max-width: 576px) {
  
    .btnpublicar{
          padding: 0 5px;
      }
      .pop-up{
        padding: 1 40px; 
      }
  }