body{
    background-image: url('https://i.pinimg.com/originals/2d/89/1c/2d891c7276f5fc30bc37867fbe03aa4a.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥚</text></svg>"), auto;
  }
  p , h2, h5 ,.lista-info{
    font-family: 'Philosopher', sans-serif;
  }

.color {
    background-color: #22577a82;
}
 
 
.bloque {
    margin-top: 1rem;  
}
 
.card {
    margin-top: 1rem;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐣</text></svg>"), auto;

}
/*color al fondo de la pantalla cuando se abra la ventana emergente*/
.overlay{
    background: rgba(153, 224, 250, 0.466);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}
/*para ser visible la ventana emergente*/
/*.overlay.active{*/
   /* visibility: visible;
   /*  z-index: 100; */
/*}*/
/*style a la ventna emergente y elementos que lo contiene*/
.pop-up{
    background: rgba(248, 249, 252, 0.801);
    box-shadow: 0px 0px 10px 0px rgba(250, 249, 252, 0.959);
    border-radius:5px;
    padding:18px;
    text-align: center;
    width: 300px;

}
.pop-up .boton-cerrar-pop-up{
    font-size: 16px;
    line-height: 16px;
    display:block;
    text-align: right;
    color: rgb(27, 81, 117);
    transition: 3px ease all;

}
.pop-up .boton-cerrar-pop-up:hover{
    color: cyan;
    font-size: 20px;
}
.text-public{
 font-size: 25px; 
 margin-bottom: 10px;  
 color: blue;
 /*opacity: 0px;*/
}
.pop-up form .contenedor-texto textarea{
width: 100%;
margin-bottom: 20px;
height: 130px;
line-height: 50px;
text-align: center;
border:1px solid rgba(0, 0, 255, 0.438);
border-radius: 3px;
}

.pop-up form .submit {
    padding: 0 10px;
    height: 40px;
    border: none;
    color: rgb(237, 236, 243);
    background-color: rgba(22, 185, 22, 0.87);
    font-size: 15px;
    border: radius 3px;
    cursor: pointer;
    transition: .3s  ease all;
}
.pop-up form .submit:hover{
    background: rgb(24, 27, 219, .9);
}
.pop-btn{
    padding: 0 10px;
    height: 40px;
    border: none;
    color: rgb(237, 236, 243);
    background-color: rgba(25, 156, 218, 0.87);
    font-size: 15px;
    border: radius 3px;
    cursor: pointer;
}
.img-container img{
    margin: 10px auto;
    width: auto;
}
.carrousell{
    margin-top: 90%;
  }
  
  /*Css del carrousel*/
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*.wrapper {
    background: linear-gradient(60deg, #420285, #08BDBD);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }*/
  
  .carousel {
    /* position: fixed; */
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    -webkit-animation: carousel-animate-vertical 27s linear infinite;
            animation: carousel-animate-vertical 27s linear infinite;
  }
  
  .carousel__item:nth-child(1) {
  -webkit-animation-delay: calc(3s * -1);
          animation-delay: calc(3s * -1);
  }
  
  .carousel__item:nth-child(2) {
  -webkit-animation-delay: calc(3s * 0);
          animation-delay: calc(3s * 0);
  }
  
  .carousel__item:nth-child(3) {
  -webkit-animation-delay: calc(3s * 1);
          animation-delay: calc(3s * 1);
  }
  
  .carousel__item:nth-child(4) {
  -webkit-animation-delay: calc(3s * 2);
          animation-delay: calc(3s * 2);
  }
  
  .carousel__item:nth-child(5) {
  -webkit-animation-delay: calc(3s * 3);
          animation-delay: calc(3s * 3);
  }
  
  /* .carousel__item:nth-child(6) {
  -webkit-animation-delay: calc(3s * 4);
          animation-delay: calc(3s * 4);
  }
  
  .carousel__item:nth-child(7) {
  -webkit-animation-delay: calc(3s * 5);
          animation-delay: calc(3s * 5);
  }
  
  .carousel__item:nth-child(8) {
  -webkit-animation-delay: calc(3s * 6);
          animation-delay: calc(3s * 6);
  }
  
  .carousel__item:nth-child(9) {
    -webkit-animation-delay: calc(3s * 7);
            animation-delay: calc(3s * 7);
    } */
  
  
      
  @keyframes carousel-animate-vertical {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
    3%, 11.1111111111% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    14.1111111111%, 22.2222222222% {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    25.2222222222%, 33.3333333333% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    36.3333333333% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }
  /*Fin del carrousel*/
  .carousel__item-head img{
    width: 100%;
  }
  .bloque-de-imagenes{
    text-align: center;
    color: white;
    position: fixed;
    background: rgba(247, 255, 254, 0.15);
    max-width: 100%;
    min-height: 88%;
  
  }
  
  .carousel__item img{
    width: 100%;
    margin: 0 auto;
  }

  
  .recomendaciones{
    margin: 0 auto;
    min-width: 23%;
  }
  .bloque-de-imagenes div h4{
  
  font-size: 550%;
  }
.container1{
  width: 90%;
  margin: 0 auto;
}