.container{
    width: auto;
    max-width: 400px;
    overflow: hidden;
    margin:auto;
    padding: 60px 0;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐣</text></svg>"), auto;
}
body{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}
.container{
    font-family: 'Philosopher', sans-serif;
}
.bxs-user{
    font-size: 70px;
}
.card {
    background-color: #a1b6f159;
    border-radius: 20px;
}
.letras {
    display: flex;
    justify-content: space-around;
}
.form-control {
    border-radius: 20px;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}
.btn:hover {
    background-color: rgba(0, 4, 255, 0.84);

 }
 .custom-select{
     color: white;
     background-color:#0061a9;
 }
 .formulario{
    display: flex;
    align-items: center;    
}

.recuadro_nombre-correcto{
    color: #00FF19;
}

.recuadro_nombre-incorrecto{
    color: red;
    /*minuto 25*/
}
.recuadro_apellido-correcto{
    color: #00FF19;
}

.recuadro_apellido-incorrecto{
    color: red;
    /*minuto 25*/
}

.recuadro_gamertagg-correcto{
    color: #00FF19;
}

.recuadro_gamertagg-incorrecto{
    color: red;
    /*minuto 25*/
}

.recuadro_correo-correcto{
    color: #00FF19;
}

.recuadro_correo-incorrecto{
    color: red;
    /*minuto 25*/
}

.recuadro_password-correcto{
    color: #00FF19;
}

.recuadro_password-incorrecto{
    color: red;
    /*minuto 25*/
}
.recuadro_password2-correcto{
    color: #00FF19;
}

.recuadro_password2-incorrecto{
    color: red;
    /*minuto 25*/
}

.formulario_input_error{
    display: none;
}

.formulario_input_error_activo{
    display: block;
}

#formulario_registro p{
    margin: 0 auto;
    width: 400px;
}

#formulario_registro .a123{
    width: 400px;
}