.container{
    width: auto;
    max-width: 400px;
    overflow: hidden;
    margin:auto;
    padding: 60px 0;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐣</text></svg>"), auto;
}
body{
    background-image: linear-gradient(rgb(0 0 0 / 48%), rgb(0 0 0 / 38%)), url('../img/fondoRegistro.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}
.container{
    font-family: 'Philosopher', sans-serif;
}
.bxs-user{
    font-size: 70px;
}
.card {
    background-color: #a1b6f159;
    border-radius: 20px;
}
.letras {
    display: flex;
    justify-content: space-around;
}
.form-control {
    border-radius: 20px;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}
.btn:hover {
    background-color: rgba(0, 4, 255, 0.84);

 }
.navbar {
    background-color: transparent;
}
